<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitDay</title>
    <script type="module" src="../public/js/MainPage.js"></script>
    <link rel="stylesheet" href="../public/css/variaveis.css">
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/mainPage.css">
</head>
<body>
    <header>HEADER</header>

    <main>
        <section id="sectionPage"> 
            <div id="cards" class="cardsConteiner"></div><!--ONDE OS CARDS DOS DIAS SÃO INSERIDOS-->
        </section>
    </main>
    <script>

    </script>
</body>
</html>