<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitDay</title>
    <script type="module" src="../public/js/MainPage.js"></script>
    <link rel="stylesheet" href="../public/css/variaveis.css">
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/mainPage.css">
</head>
<body class="colorido">
    <header class="headerPage">
        <nav>
            <ul>
                <li>Estatísticas</li>
                <li>Rotina</li>
            </ul>
        </nav>
        <div id="configWrapper">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
                    <path fill="white" d="
                        M19.14 12.94c.04-.3.06-.61.06-.94s-.02-.64-.06-.94l2.03-1.58
                        c.18-.14.23-.41.12-.61l-1.92-3.32c-.11-.2-.36-.28-.57-.22l-2.39.96
                        c-.5-.38-1.03-.7-1.62-.94l-.36-2.54A.488.488 0 0 0 14 2h-4
                        c-.24 0-.44.17-.48.41l-.36 2.54c-.59.24-1.13.56-1.62.94l-2.39-.96
                        c-.21-.06-.46.02-.57.22L2.66 8.47c-.11.2-.06.47.12.61l2.03 1.58
                        c-.04.3-.06.61-.06.94s.02.64.06.94l-2.03 1.58
                        c-.18.14-.23.41-.12.61l1.92 3.32c.11.2.36.28.57.22l2.39-.96
                        c.5.38 1.03.7 1.62.94l.36 2.54c.04.24.24.41.48.41h4
                        c.24 0 .44-.17.48-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96
                        c.21.06.46-.02.57-.22l1.92-3.32c.11-.2.06-.47-.12-.61l-2.03-1.58z

                        M12 15.5A3.5 3.5 0 1 1 12 8.5a3.5 3.5 0 0 1 0 7z
                    "/>
                </svg>
                <article class="configMenuBox">
                    <ul>
                        <li>
                            <label class="switch">
                                <span class="label-text">Modo de contraste</span>
                                <input type="checkbox">
                                <span class="slider"></span>
                            </label>
                        </li>
                        <li>
                            <label class="selectTemaLabel">
                                <span>Tema</span>
                                <select value="colorido" id="selectTema">
                                    <option value="colorido">Colorido</option>
                                    <option value="claro">Claro</option>
                                    <option value="escuro">Escuro</option>
                                </select>
                            </label>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </header>
    <main>
        <section id="sectionPage"> 
            <div id="cards" class="cardsConteiner"></div> <!--ONDE OS CARDS DOS DIAS SÃO INSERIDOS-->
        </section>
    </main>
    <script>

    </script>
</body>
</html>